.Burger {
    width: 66%;
    margin: auto;
    height: 133px;
    /* overflow: scroll; */
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}



@media (min-width: 500px) and (min-height: 420px){
    .Burger {
        width: 488px;
        height: 522px;
    }
}